// Fonts
/*@import url('https://fonts.googleapis.com/css?family=Nunito');*/

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@tailwind base;

@tailwind components;

@tailwind utilities;

html{
    height: 100%
}
body{
    font-family: 'Open Sans',sans-serif;
    height: 100%;
}
.tooltip, .popover{
    font-family: 'Open Sans',sans-serif;
}

.sticky-offset {
    top: 74px;
}

.results-count{
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    left: 15px;
    margin-top: 6px;
    position: absolute;

    input[type="checkbox"]{
        margin-left: 0px;
        margin-right: 15px;
    }

    .dropdown{
        margin-right: 15px;
    }
}

.facet{
    .card-header{

        & .toggle:after{
            border-style: solid;
            border-width: .2em .2em 0 0;
            content: '';
            display: inline-block;
            float: right;
            height: .6em;
            left: -1.5em;
            position: relative;
            top: .1em;
            transform: rotate(135deg);
            vertical-align: top;
            width: .6em;
        }

        & .toggle.collapsed:after{
            transform: rotate(45deg);
        }
    }

    .card-body{
        font-size: 1.1em;
        max-height: 260px;
        overflow-y: auto;
        overflow-x: hidden;

        &::-webkit-scrollbar-track
        {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
            background-color: #F5F5F5;
        }

        &::-webkit-scrollbar
        {
            width: 4px;
            background-color: #F5F5F5;
        }

        &::-webkit-scrollbar-thumb
        {
            background-color: #000000;
            border: 1px solid #555555;
        }
    }

    label{
        display: contents;
    }

    .option{
        display: inline-block;
        margin-bottom: -6px;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: capitalize;
        white-space: nowrap;
        width: 170px;
    }

    .count{
        float: right;
    }
}

.results{
    margin-top: -55px;

    .list{
        margin-top: 32px;
    }

    .card-body > div:last-child{
        & .card.summary{
            border-bottom: none !important;
        }
    }

    .card.summary{
        border-top: none;
        border-right: none;
        border-bottom: 1px solid #cccccc !important;
        border-left: none;
        font-size: 1.1em;

        .resource-selection, .resource-selection-placeholder{
            left: -10px;
            position: absolute;
        }

        h5{

            /*text-transform: capitalize;*/
        }

        h4{
            cursor: pointer;
            text-transform: uppercase;
        }

        highlight{
            background-color: rgba(251, 235, 166, .4);
            font-style: italic;
        }

        .summary-container{
            font-size: 0.9em;
        }
    }

    nav{
        display: inline-block;

        .pagination{
            position: absolute;
            right: 15px;

            .active{
                font-weight: bold;
            }

            &>span{
                padding-top: 6px;
            }

            li{
                background: none;
                border: none;
                cursor: pointer;

                a{
                    background: none;
                    border: none;
                }
            }
            .page-link{
                background: none;
                border: none;
                color: #000000;
                cursor: pointer;
            }
            .page-link.active{
                font-weight: bold;
            }
        }

    }

    /*#loading-overlay{
        background: #ffffff;
        color: #666666;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 5000;
        top: 0;
        left: 0;
        float: left;
        text-align: center;
        padding-top: 15%;
        opacity: .80;
    }*/
}

.loading-placeholder {
    .text {
        display: inline-block;
        background-color: #444;
        height: 12px;
        border-radius: 0px;
        margin: 5px 0;
        width: 100%;
        opacity: .1;
        animation: fading 1.5s infinite;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &.link {
            /*background-color: var(--blue);*/
            background-color: #444;
            opacity: .1;
        }

        &.line {
            width: 100%;

            &.cite:first-child{
                width: calc(100% + 40px)
            }
        }

        &.category {
            width: 100px;
            margin-bottom: 10px;
        }
    }

    h4.text {
        height: 20px;
        margin: 3px 0;
        opacity: .2;
    }

    .image {
        background-color: #f9f9f9;
        height: 100px;
    }

    .btn{
        opacity: .2;
    }

    @keyframes fading {
        0% {
            opacity: .1;
        }

        50% {
            opacity: .2;
        }

        100% {
            opacity: .1;
        }
    }
}

.dropdown-toggle.active-dropdown::after {
    transform: rotate(-90deg);
}

.folder-yellow{
    color: #f4c182;
}

.dropdown-menu{
    .folders{
        font-size: 1em;
        max-height: 260px;
        overflow-y: auto;
        overflow-x: hidden;

        &::-webkit-scrollbar-track
        {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
            background-color: #F5F5F5;
        }

        &::-webkit-scrollbar
        {
            width: 4px;
            background-color: #F5F5F5;
        }

        &::-webkit-scrollbar-thumb
        {
            background-color: #000000;
            border: 1px solid #555555;
        }
    }
}


#folder-nav{

    .folders{
        font-size: 1em;
        max-height: 600px;
        overflow-y: auto;
        overflow-x: hidden;

        &::-webkit-scrollbar-track
        {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
            background-color: #F5F5F5;
        }

        &::-webkit-scrollbar
        {
            width: 4px;
            background-color: #F5F5F5;
        }

        &::-webkit-scrollbar-thumb
        {
            background-color: #000000;
            border: 1px solid #555555;
        }
    }
}

.select2-selection{
    border-radius: 0px !important;
    line-height: 2.6em !important;
    height: 2.6em !important;
    padding: .25em !important;
}
.select2-selection__arrow{
    top: 6px !important;
}


div.floor{
    background-color: #1b9cd5;
}






@import 'custom';


